@model BloodGroupModel

@{
    ViewData["Title"] = "BloodGroupList";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}


<form>

    <div class="row">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-color:#8c62c9">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="container">
                            <h2 class="centered text-white" style="font-family:'Lucida Bright'">BloodGroupList</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row" style="height:8%">
    </div>

    <div class="row gy-4">
        <div class="col-md-12 col-lg-2">
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">



                    <div class="form-floating form-floating-outline mb-4">

                                <div class="demo-inline-spacing">

                                    <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                        <textarea asp-for="IntBg_Id" class="form-control" placeholder="IntBg_Id" aria-describedby="text-to-speech-addon" required></textarea>
                                        <label asp-for="IntBg_Id" class="control-label">IntBg_Id</label>
                                        <span class="input-group-text" id="text-to-speech-addon">
                                            <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                        </span>
                                        <span asp-validation-for="IntBg_Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating form-floating-outline mb-4">
                                        <input asp-for="BloodGroup" class="form-control" placeholder="BloodGroup" x-webkit-speech required />
                                        <label asp-for="BloodGroup" class="control-label"></label>
                                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>


                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />
    <div class="form-group">
        <center>
         
            <button type="submit" style="width:180px" value="Create" asp-action="BloodGroupList" class="btn btn-primary">Save</button>


            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </center>
    </div>
</form>

