@model ClinicAdminModel


@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


    <div class="card xl-8">
        <div class="card-body pt-2 mt-1">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="text-primary mb-1">Facility Registration</h2>
                <small class="text-muted float-end"></small>

            </div>
        </div>


        <form asp-controller="ClinicAdministration">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>                 
            </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ClinicName" class="form-control" placeholder="ClinicName" />
                <label asp-for="ClinicName" class="control-label"></label>
            
                <span asp-validation-for="ClinicName" class="text-danger"></span>
            </div>
                      @*  <div class="form-floating form-floating-outline mb-4">
                            <input type="submit" value="Search" class="btn btn-primary btn-lg" asp-action="GetClinic" />


                        </div>*@

                        <div>
                            <center>
                           @*  <input type="submit" class=" btn btn-outline-dark waves-effect" asp-action="GetClinic" value="Search" /> *@

                            <button type="submit" class="btn btn-primary" asp-action="GetClinic" value="Search">Search</button>
                          </center>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ClinicAddress" class="form-control" placeholder="ClinicAddress" />
                            <label asp-for="ClinicAddress" class="control-label"></label>
                          
                            <span asp-validation-for="ClinicAddress" class="text-danger"></span>
            
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="City" class="form-control" placeholder="City" />
                            <label asp-for="City" class="control-label"></label>
                          
                            <span asp-validation-for="City" class="text-danger"></span>
                </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="State" class="form-control" placeholder="State" />
                            <label asp-for="State" class="control-label"></label>
                          
                            <span asp-validation-for="State" class="text-danger"></span>
 </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PostalCode" class="form-control" placeholder="PostalCode" />
                            <label asp-for="PostalCode" class="control-label"></label>
                          
                            <span asp-validation-for="PostalCode" class="text-danger"></span>

                           </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ClinicPhoneNumber" class="form-control" placeholder="ClinicPhoneNumber" />
                            <label asp-for="ClinicPhoneNumber" class="control-label"></label>
                          
                            <span asp-validation-for="ClinicPhoneNumber" class="text-danger"></span>

               </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ClinicEmailAddress" class="form-control" placeholder="ClinicEmailAddress" />
                            <label asp-for="ClinicEmailAddress" class="control-label"></label>
                          
                            <span asp-validation-for="ClinicEmailAddress" class="text-danger"></span>

            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FromHour" class="form-control" placeholder="FromHour" />
                            <label asp-for="FromHour" class="control-label"></label>
                          
                            <span asp-validation-for="FromHour" class="text-danger"></span>

               </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ToHour" class="form-control" placeholder="ToHour" />
                            <label asp-for="ToHour" class="control-label"></label>
                          
                            <span asp-validation-for="ToHour" class="text-danger"></span>

              </div>
@*             <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div> 

                  
            <div class="form-group">
                            <input type="submit" asp-action="AddClinic" value="Create" class="btn btn-primary btn-lg" />
                
            </div> *@
                        <div>
                            <center>
                           @*  <input type="submit" class="btn btn-outline-dark waves-effect " asp-action="AddClinic" value="Create" /> *@

                            <button type="submit" class="btn btn-primary" asp-action="AddClinic" value="Create">Save</button>
                            
                       

                        @if(ViewBag.Message!=null)
                        {
                            <div class="alert alert-success">
                                
                               
                                @ViewBag.Message
                            </div>
                            
                        }
                        </center></div>
                    
        </div>
        </div>
       
    </div>
    </div>
        </form>
    </div>

