@model HealthCare.Models.ClinicSurgeryMasterModel

@{
    ViewData["Title"] = "ClinicSurgeryMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<form>
<div class="row">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">ClinicSurgeryMaster</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row" style="height:8%">
</div>

<div class="row gy-4">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">




                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="SurgeryName" class="form-control" placeholder="SurgeryName" />
                <label asp-for="SurgeryName" class="control-label"></label>
                
                <span asp-validation-for="SurgeryName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="SurgeryID" class="form-control" placeholder="SurgeryID" />
                <label asp-for="SurgeryID" class="control-label"></label>
                
                <span asp-validation-for="SurgeryID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Cost" class="form-control" placeholder="Cost" />
                <label asp-for="Cost" class="control-label"></label>
                
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Duration" class="form-control" placeholder="Duration" />
                <label asp-for="Duration" class="control-label"></label>
                
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

             <br />


                </div>
            </div>


        </div>


        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />
    <div class="form-group">
        <center>

       
        <button type="submit" style="width:180px" class="btn btn-primary" asp-action="GetClinicSurgeryMaster" value="Create">Save</button>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">


                    @ViewBag.Message
                </div>
           }
        </center>
    </div>
</form>
