@model HealthCare.Models.ClinicSurgeryMasterModel

@{
    ViewData["Title"] = "ClinicSurgeryMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="row">

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">ClinicSurgeryMaster</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">







                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="SurgeryName" class="form-control" placeholder="SurgeryName" />
                <label asp-for="SurgeryName" class="control-label"></label>
                
                <span asp-validation-for="SurgeryName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="SurgeryID" class="form-control" placeholder="SurgeryID" />
                <label asp-for="SurgeryID" class="control-label"></label>
                
                <span asp-validation-for="SurgeryID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Cost" class="form-control" placeholder="Cost" />
                <label asp-for="Cost" class="control-label"></label>
                
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Duration" class="form-control" placeholder="Duration" />
                <label asp-for="Duration" class="control-label"></label>
                
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

                    </div>

                </div>

                <div class="row" style="height:12%">
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <div class="form-group">
                            <div class="container">

                                <button type="submit" style="centered" class="btn btn-primary" asp-action="GetClinicSurgeryMaster" value="Create">Save</button>


                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Message
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="form-floating form-floating-outline mb-4">
            <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
        </div>
    </div>
</div>

