@model ClinicAdminModel


@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row" style="margin-top:70px">
    <div class="col-md-12 col-lg-2 ">
    </div>

    <div class="col-md-12 col-lg-8 ">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">Facility Registration</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" style="height:5%">
</div>



<div class="row gy-4">

    <div class="col-md-12 col-lg-2">
        <div class="form-floating form-floating-outline mb-4">
        </div>
    </div>


    <div class="col-md-12 col-lg-3">


        <div class="form-floating form-floating-outline mb-4">

            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
            <label asp-for="FacilityID" class="control-label"></label>
            <span asp-validation-for="FacilityID" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12 col-lg-3">


        <div class="form-floating form-floating-outline mb-4">
            <input asp-for="ClinicName" class="form-control" placeholder="ClinicName" />
            <label asp-for="ClinicName" class="control-label"></label>

            <span asp-validation-for="ClinicName" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-12 col-lg-4">
        <div class="form-floating form-floating-outline mb-4">
            <button type="submit" class="btn btn-primary" asp-action="GetClinic" value="Search">Search</button>
        </div>
    </div>


</div>

<br />


<div class="row" style="height:5%">
</div>


<div class="row">
    <div class="col-md-12 col-lg-2">
        <div class="form-floating form-floating-outline mb-4">
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                    <textarea asp-for="ClinicAddress" class="form-control" placeholder="ClinicAddress" aria-describedby="text-to-speech-addon"></textarea>
                    <label asp-for="ClinicAddress" class="control-label"></label>
                    <span class="input-group-text" id="text-to-speech-addon">
                        <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                    </span>
                    <span asp-validation-for="ClinicAddress" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="City" class="form-control" placeholder="City" />
                    <label asp-for="City" class="control-label"></label>

                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="State" class="form-control" placeholder="State" />
                    <label asp-for="State" class="control-label"></label>

                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="PostalCode" class="form-control" placeholder="PostalCode" />
                    <label asp-for="PostalCode" class="control-label"></label>

                    <span asp-validation-for="PostalCode" class="text-danger"></span>

                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="ClinicPhoneNumber" class="form-control" placeholder="ClinicPhoneNumber" />
                    <label asp-for="ClinicPhoneNumber" class="control-label"></label>

                    <span asp-validation-for="ClinicPhoneNumber" class="text-danger"></span>

                </div>

            </div>
        </div>


    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="ClinicEmailAddress" class="form-control" placeholder="ClinicEmailAddress" />
                    <label asp-for="ClinicEmailAddress" class="control-label"></label>

                    <span asp-validation-for="ClinicEmailAddress" class="text-danger"></span>

                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="FromHour" class="form-control" placeholder="FromHour" />
                    <label asp-for="FromHour" class="control-label"></label>

                    <span asp-validation-for="FromHour" class="text-danger"></span>

                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="ToHour" class="form-control" placeholder="ToHour" />
                    <label asp-for="ToHour" class="control-label"></label>

                    <span asp-validation-for="ToHour" class="text-danger"></span>

                </div>

                <div class="form-floating form-floating-outline mb-4">
                    <div class="container">

                        <button type="submit" style="centered" class="btn btn-primary" asp-action="AddClinic" value="Create">Save</button>

                        @*    <button type="submit" style="centered" value="Create" class="btn btn-primary">Save</button>
                        *@
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-success">


                                @ViewBag.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-2">
        <div class="form-floating form-floating-outline mb-4">
        </div>
    </div>


</div>
