@model ClinicAdminModel

@{
    ViewData["Title"] = "GetClinic";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">Get Clinic</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


@using (Html.BeginForm("ClinicAdmin", "ClinicAdministration", FormMethod.Post))
{

    <div class="row gy-4">

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
        <label asp-for="FacilityID" class="control-label"></label>
        <span asp-validation-for="FacilityID" class="text-danger"></span>
    </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="ClinicName" class="form-control" placeholder="ClinicName"/>
        <label asp-for="ClinicName" class="control-label"></label>
        <span asp-validation-for="ClinicName" class="text-danger"></span>
    </div>
    <center>
    <button type="submit" name="buttonType" value="submit" class="btn btn-primary">Submit</button> 
    </center>

    </div></div></div></div>
}

</div>


