@model HealthCare.Models.HospitalRegistrationModel

@{
    ViewData["Title"] = "HospitalRegistration";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> Hospital Registration</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>

    
        <form asp-action="HospitalRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class ="row gy-4">

            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="HospitalID" class="form-control" placeholder="HospitalID" />
                <label asp-for="HospitalID" class="control-label"></label>
                
                <span asp-validation-for="HospitalID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="HospitalName" class="form-control" placeholder="HospitalName" />
                <label asp-for="HospitalName" class="control-label"></label>
                
                <span asp-validation-for="HospitalName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Address" class="form-control" placeholder="Address" />
                <label asp-for="Address" class="control-label"></label>
                
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="City" class="form-control" placeholder="City" />
                <label asp-for="City" class="control-label"></label>
                
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="State" class="form-control" placeholder="State" />
                <label asp-for="State" class="control-label"></label>
                
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
           </div>
          </div>

           
         </div>
             <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">


                            <input asp-for="Phone1" class="form-control" placeholder="Phone1" />
                <label asp-for="Phone1" class="control-label"></label>
                
                <span asp-validation-for="Phone1" class="text-danger"></span>
            </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Phone2" class="form-control" placeholder="Phone2" />
                <label asp-for="Phone2" class="control-label"></label>
                
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Phone3" class="form-control" placeholder="Phone3" />
                <label asp-for="Phone3" class="control-label"></label>
                
                <span asp-validation-for="Phone3" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                <label asp-for="Email" class="control-label"></label>
               
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            <br />
                        <div class="form-floating form-floating-outline mb-4">
                <input type="submit" asp-action="GetHospitalRegistration" value="Save" class="btn btn-primary" />
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">


                    @ViewBag.Message
                </div>
            }
        </form>
    </div>
</div>


