@model HealthCare.Models.HospitalBedMasterModel

@{
    ViewData["Title"] = "HospitalBedMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="row">
    <div class="col-md-12 col-lg-10">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">HospitalBedMaster</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height:8%">
</div>

<div class="row">

    <div class="col-md-12 col-lg-5">
        <div class="card">
            <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="BedID" class="form-control" placeholder="BedID" />
                <label asp-for="BedID" class="control-label"></label>
                <span asp-validation-for="BedID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="BedName" class="form-control" placeholder="BedName" />
                <label asp-for="BedName" class="control-label"></label>
                <span asp-validation-for="BedName" class="text-danger"></span>
            </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="BedType" class="form-control" placeholder="BedType" />
                <label asp-for="BedType" class="control-label"></label>
                <span asp-validation-for="BedType" class="text-danger"></span>
            </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RoomType" class="form-control" placeholder="RoomType" />
                <label asp-for="RoomType" class="control-label"></label>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            </div>
        </div>


    </div>
    <div class="col-md-12 col-lg-5">
        <div class="card">
            <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RoomFloor" class="form-control" placeholder="RoomFloor" />
                <label asp-for="RoomFloor" class="control-label"></label>
                <span asp-validation-for="RoomFloor" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<NurseStationMasterModel>)ViewData["nurseid"])
                                .Select(m => new SelectListItem
            {
                Value = m.NurseStationID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.NurseStationID}"
            });
                            }

                            @Html.DropDownListFor(model => model.NurseStationID, screenList, "Select Nurse Station ID", new { @class = "form-control" })
                            <label asp-for="NurseStationID" class="control-label"></label>
                            <span asp-validation-for="NurseStationID" class="text-danger"></span>
                        </div>


                       @*  <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="NurseStationID" class="form-control" placeholder="NurseStationID" />
                <label asp-for="NurseStationID" class="control-label"></label>
                <span asp-validation-for="NurseStationID" class="text-danger"></span>
            </div> *@

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="CostPerDay" class="form-control" placeholder="CostPerDay" />
                <label asp-for="CostPerDay" class="control-label"></label>
                <span asp-validation-for="CostPerDay" class="text-danger"></span>
            </div>

            </div>
        </div>

        <div class="row">
            <div class="form-floating form-floating-outline mb-4">
            </div>
        </div>
        <div class="row">
            <div class="form-floating form-floating-outline mb-4">
                <div class="container">

                    <button type="submit" style="centered" asp-action="GetHospitalBedMaster" value="Create" class="btn btn-primary">Save</button>

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">


                            @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>



    <div class="row">
    </div>
</div>

      
