@model HealthCare.Models.IPTypeMasterModel

@{
    ViewData["Title"] = "IPTypeMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<form asp-controller="ClinicAdministration" asp-action="GetIpType">
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="row">

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">IPTypeMaster</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">

                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="IPTypeID" class="form-control" placeholder="IPTypeID" />
                <label asp-for="IPTypeID" class="control-label"></label>
                
                <span asp-validation-for="IPTypeID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="IPTypeName" class="form-control" placeholder="IPTypeName" />
                <label asp-for="IPTypeName" class="control-label"></label>
               
                <span asp-validation-for="IPTypeName" class="text-danger"></span>
            </div>


                    </div>

                </div>

                <div class="row" style="height:12%">
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <div class="form-group">
                            <div class="container">
                                    <button type="submit" style="centered" asp-action="GetIpType" value="Save" class="btn btn-primary">Save</button>

                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Message
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="form-floating form-floating-outline mb-4">
            <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
        </div>
    </div>
</div>
</form>