@model HealthCare.Models.OtTableMasterModel

@{
    ViewData["Title"] = "OTTableMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="row">

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">OTTableMaster</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>
        <form>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">


                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="TableID" class="form-control" placeholder="TableID" />
                <label asp-for="TableID" class="control-label"></label>
                
                <span asp-validation-for="TableID" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="TableName" class="form-control" placeholder="TableName" />
                <label asp-for="TableName" class="control-label"></label>
               
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                                <input asp-for="RoomName" class="form-control" placeholder="RoomName" />
                <label asp-for="RoomName" class="control-label"></label>
               
                <span asp-validation-for="RoomName" class="text-danger"></span>
                </div>
                                <div class="form-floating form-floating-outline mb-4">

                              <input asp-for="AdditionalFeature" class="form-control" placeholder="AdditionalFeature" />
                <label asp-for="AdditionalFeature" class="control-label"></label>
                
                <span asp-validation-for="AdditionalFeature" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">

                                <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                                <label asp-for="FacilityID" class="control-label"></label>

                                <span asp-validation-for="FacilityID" class="text-danger"></span>
                            </div>

                    </div>

                </div>

                <div class="row" style="height:12%">
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <div class="form-group">
                            <div class="container">
                                <button type="submit" style="centered" value="Create" class="btn btn-primary">Save</button>

                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Message
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        </form>
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="form-floating form-floating-outline mb-4">
            <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
        </div>
    </div>
</div>
