@model HealthCare.Models.ResourceTypeMasterModel

@{
    ViewData["Title"] = "ResourceTypeMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>ResourceTypeMaster</h1>

<h4>ResourceTypeMasterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveResourceTypeID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ResourceTypeID" class="control-label"></label>
                <input asp-for="ResourceTypeID" class="form-control" />
                <span asp-validation-for="ResourceTypeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ResourceTypeName" class="control-label"></label>
                <input asp-for="ResourceTypeName" class="form-control" />
                <span asp-validation-for="ResourceTypeName" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <button type="submit" value="Create" asp-action="SaveResourceTypeID" class="btn btn-primary">Save</button>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">


                        @ViewBag.Message
                    </div>
                }
            </div>
        </form>
    </div>
</div>

