@model HealthCare.Models.RoomTypeMasterModel

@{
    ViewData["Title"] = "RoomTypeMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> RoomTypeMaster</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


        <form asp-action="RoomTypeMaster">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="RoomTypeID" class="form-control" placeholder="RoomTypeID" />
                <label asp-for="RoomTypeID" class="control-label"></label>
                
                <span asp-validation-for="RoomTypeID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="RoomTypeName" class="form-control" placeholder="RoomTypeName" />
                <label asp-for="RoomTypeName" class="control-label"></label>
                
                <span asp-validation-for="RoomTypeName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="AdditionFeature" class="form-control" placeholder="AdditionFeature" />
                <label asp-for="AdditionFeature" class="control-label"></label>
               
                <span asp-validation-for="AdditionFeature" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="AdditionalCost" class="form-control" placeholder="AdditionalCost" />
                <label asp-for="AdditionalCost" class="control-label"></label>
               
                <span asp-validation-for="AdditionalCost" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="lastupdatedDate" class="control-label"></label>
                <input asp-for="lastupdatedDate" class="form-control" />
                <span asp-validation-for="lastupdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            <br />
            <div class="form-group">
                <center>
                <button type="submit" asp-action="GetRoomType" value="Create" class="btn btn-primary" >Save</button>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">


                                    @ViewBag.Message
                                </div>

                            }
                            </center>

            </div>
            
       
        </form>
    </div>
</div>


