@model HealthCare.Models.SeverityModel

@{
    ViewData["Title"] = "SeverityModel";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="row">

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">Severity Model</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">




                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="SeverityID" class="form-control" placeholder="SeverityID" />
                <label asp-for="SeverityID" class="control-label"></label>
                <span asp-validation-for="SeverityID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="SeverityName" class="form-control" placeholder="SeverityName" />
                <label asp-for="SeverityName" class="control-label"></label>
                <span asp-validation-for="SeverityName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="Active" class="form-control" placeholder="Active" />
                <label asp-for="Active" class="control-label"></label>
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>

                    </div>

                </div>

                <div class="row" style="height:12%">
                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12">

                        <div class="form-group">
                            <div class="container">
                                <button type="submit" style="centered" value="Create" class="btn btn-primary">Save</button>

                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.Message
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="col-md-12 col-lg-5">
        <div class="form-floating form-floating-outline mb-4">
            <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
        </div>
    </div>
</div>

