@model StaffAdminModel

@{
    ViewData["Title"] = "StaffAdminModel";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



<div class="row">
    <div class="col-md-12 col-lg-11">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">Staff Registration</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row" style="height:5%">
</div>



        <div class="row gy-4">
    <div class="col-md-12 col-lg-1">
        <div class="form-floating form-floating-outline mb-4">
        </div>
    </div>
    <div class="col-md-12 col-lg-7">
               <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrStaffID" class="form-control" placeholder="StaffId" />
                    <label asp-for="StrStaffID" class="control-label">StaffID</label>
                    <span asp-validation-for="StrStaffID" class="text-danger"></span>
                </div>
                </div>
                    <div class="col-md-12 col-lg-4">
                <div class="form-floating form-floating-outline mb-4">
                    <button type="submit" value="Get" asp-action="Getdoctor" class="btn btn-primary">Search</button>
                </div>
                </div>                
            </div>




<div class="row" style="height:5%">
</div>


<div class="row">

    <div class="col-md-12 col-lg-3">
        <div class="card">
            <div class="card-body">

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrFirstName" class="form-control" placeholder="FirstName" />
                    <label asp-for="StrFirstName" class="control-label">FirstName</label>
                    <span asp-validation-for="StrFirstName" class="text-danger"></span>
                </div>


                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrLastName"  class="form-control" placeholder="LastName" />
                    <label asp-for="StrLastName" class="control-label">LastName</label>
                    <span asp-validation-for="StrLastName" class="text-danger"></span>
                </div>


                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrFullName"  class="form-control" placeholder="FullName" />
                    <label asp-for="StrFullName" class="control-label">FullName</label>
                    <span asp-validation-for="StrFullName" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrInitial" class="form-control"  placeholder="Initial" />
                    <label asp-for="StrInitial" class="control-label">Initial</label>
                    <span asp-validation-for="StrInitial" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrPrefix" class="form-control"  placeholder="Prefix" />
                    <label asp-for="StrPrefix" class="control-label">Prefix</label>
                    <span asp-validation-for="StrPrefix" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Gender:</label><br />
                    <div class="form-check form-check-inline">
                        <input asp-for="StrGender" class="form-check-input" type="radio" value="Male" id="maleRadio" />
                        <label class="form-check-label" for="maleRadio">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="StrGender" class="form-check-input" type="radio" value="Female" id="femaleRadio" />
                        <label class="form-check-label" for="femaleRadio">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="StrGender" class="form-check-input" type="radio" value="Other" id="otherRadio" />
                        <label class="form-check-label" for="otherRadio">Other</label>
                    </div>
                    <span asp-validation-for="StrGender" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrDateofBirth" class="form-control" placeholder="DateofBirth" />
                    <label asp-for="StrDateofBirth" class="control-label">DateofBirth</label>
                    <span asp-validation-for="StrDateofBirth" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">

                                    <input asp-for="StrAge" class="form-control"  placeholder="Age" />
                    <label asp-for="StrAge" class="control-label">Age</label>
                    <span asp-validation-for="StrAge" class="text-danger"></span>
                </div>



            </div>
        </div>


    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">

                        <div class="demo-inline-spacing">



                          

                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="StrAddress1" class="form-control" placeholder="Address1" aria-describedby="text-to-speech-addon"></textarea>
                                <label asp-for="StrAddress1" class="control-label">Address1</label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>
                                
                            <span asp-validation-for="StrAddress1" class="text-danger"></span>
                        </div>

                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="StrAddress2" class="form-control" placeholder="Address2" aria-describedby="text-to-speech-addon"></textarea>
                                <label asp-for="StrAddress2" class="control-label">Address2</label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                           
                            <span asp-validation-for="StrAddress2" class="text-danger"></span>
                        </div>
               
             
            <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrCity" class="form-control" placeholder="City" />
                    <label asp-for="StrCity" class="control-label">City</label>
                    <span asp-validation-for="StrCity" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrState" class="form-control" placeholder="State" />
                    <label asp-for="StrState" class="control-label">State</label>
                    <span asp-validation-for="StrState" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrPin" class="form-control" placeholder="Pin" />
                    <label asp-for="StrPin" class="control-label">Pin</label>
                    <span asp-validation-for="StrPin" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrPhoneNumber" class="form-control" placeholder="PhoneNumber" />
                    <label asp-for="StrPhoneNumber" class="control-label"></label>
                    <span asp-validation-for="StrPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrEmailId" class="form-control" placeholder="EmailId" />
                    <label asp-for="StrEmailId" class="control-label">EmailId</label>
                    <span asp-validation-for="StrEmailId" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-body">

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrNationality" class="form-control" placeholder="Nationality" />
                    <label asp-for="StrNationality" class="control-label">Nationality</label>
                    <span asp-validation-for="StrNationality" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrUserName" class="form-control" placeholder="UserName" />
                    <label asp-for="StrUserName" class="control-label">UserName</label>
                    <span asp-validation-for="StrUserName" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrPassword" class="form-control" placeholder="Password" />
                    <label asp-for="StrPassword" class="control-label">Password</label>
                    <span asp-validation-for="StrPassword" class="text-danger"></span>
                </div>

                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrIdProofId" class="form-control" placeholder="IdProofId" />
                    <label asp-for="StrIdProofId" class="control-label">IdProofId</label>
                    <span asp-validation-for="StrIdProofId" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrIdProofName" class="form-control" placeholder="IdProofName" />
                    <label asp-for="StrIdProofName" class="control-label">IdProofName</label>
                    <span asp-validation-for="StrIdProofName" class="text-danger"></span>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input asp-for="StrMedialLicenseNumber" class="form-control" placeholder="MedialLicenseNumber" />
                    <label asp-for="StrMedialLicenseNumber" class="control-label">MedialLicenseNumber</label>
                    <span asp-validation-for="StrMedialLicenseNumber" class="text-danger"></span>
                </div>
                </div>
                        </div>

            </div>
        </div>

        <div class="row">
            <div class="form-floating form-floating-outline mb-4">
            </div>
        </div>
        <div class="row">
            <div class="form-floating form-floating-outline mb-4">
                <div class="container">

                    <button type="submit" style="centered" value="Create" class="btn btn-primary">Save</button>
                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">


                            @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>



    </div>



    <div class="row">
    </div>
</div>
</form>