@model StaffFacilityMappingModel

@{
    ViewData["Title"] = "StaffFacilityMapping";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<div class="row" style="margin-top:70px">
    <div class="col-md-12 col-lg-3 ">
    </div>

    <div class="col-md-12 col-lg-6 ">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">StaffFacilityMap</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="height:5%">
</div>



<form asp-controller="ClinicAdministration">

<div class="row">
    <div class="col-md-12 col-lg-3">
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<StaffAdminModel>)ViewData["staffid"])
                                .Select(m => new SelectListItem
            {
                Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.StrStaffID}-{m.StrFullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.StaffId, screenList, "Select Staff ID", new { @class = "form-control" })
                            <label asp-for="StaffId" class="control-label"></label>
                            
                        </div>


                    <div id="rollNamesSection" class="form-floating form-floating-outline mb-4">
                        <div id="rollNamesCheckboxes"></div>
                        <span id="rollNamesError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label" style="margin-bottom:10px">Active</label><br />
                        <div class="form-check form-check-inline">
                            <input asp-for="Active" class="form-check-input" type="radio" value="Yes" id="Yes" />
                            <label class="form-check-label" for="Yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Active" class="form-check-input" type="radio" value="No" id="No" />
                            <label class="form-check-label" for="No">No</label>
                        </div>

                        <span id="gendererror" class="text-danger"></span>
                    </div>

            </div>
        </div>

    </div>

    <div class="col-md-12 col-lg-3">
    </div>
</div>
<br />


<div class="row">
    <div class="form-group">
        <div class="container">
            <center>
                <button type="submit" style="width:180px" asp-action="GetStaffFacilityMap" value="Save" class="btn btn-primary">Save</button>
            </center>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </div>

    </div>
</div>

</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#StaffId").change(function () {
            var staffId = $(this).val();

            if (staffId) {
                $.ajax({
                    url: '@Url.Action("GetStaffFacilities", "ClinicAdministration")',
                    type: 'GET',
                    data: { staffId: staffId },
                    dataType: 'json',
                    success: function (response) {
                        console.log("Response Data:", response); // Debugging

                        var checkboxesDiv = $("#rollNamesCheckboxes");
                        checkboxesDiv.empty();

                        if (response.success) {
                            $.each(response.facilities, function (index, facility) {
                                console.log("Facility Data:", facility);

                                var facilityID = facility.facilityID || facility.FacilityID;
                                var hospitalName = facility.hospital || facility.Hospital;
                                var isChecked = facility.active || facility.Active ? "checked" : ""; // ✅ Fix

                                if (facilityID && hospitalName) {
                                    checkboxesDiv.append(`
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="hosname_${facilityID}" name="SelectedRollNames" value="${facilityID}" ${isChecked}>
                                                <label class="form-check-label" for="hosname_${facilityID}">${hospitalName}</label>
                                            </div>
                                        `);
                                } else {
                                    console.error("Invalid Facility Data:", facility);
                                }
                            });
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Error fetching facilities.");
                    }
                });
            }
        });
    });
</script>

