@model HealthCare.Models.TestMasterModel

@{
    ViewData["Title"] = "TestMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<form asp-action="TestMaster" asp-controller="ClinicAdministration">
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="row">

    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1">TestMaster</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>
     
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TestID" class="form-control" placeholder="TestID" />
                            <label asp-for="TestID" class="control-label"></label>
                            <span asp-validation-for="TestID" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TestName" class="form-control" placeholder="TestName" />
                            <label asp-for="TestName" class="control-label"></label>

                            <span asp-validation-for="TestName" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Cost" class="form-control" placeholder="Cost" />
                            <label asp-for="Cost" class="control-label"></label>

                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Range" class="form-control" placeholder="Range" />
                            <label asp-for="Range" class="control-label"></label>

                            <span asp-validation-for="Range" class="text-danger"></span>
                        </div>

                         </div>

                    </div>

                    <div class="row" style="height:12%">
                    </div>
                    <div class="row">

                        <div class="col-md-12 col-lg-12">

                            <div class="form-group">
                                <div class="container">
                                    <button type="submit" style="centered" value="Create" asp-action="TestMaster" value="Save" class="btn btn-primary">Save</button>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="alert alert-success">
                                            @ViewBag.Message
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
            </div>
        </div>
        <div class="col-md-12 col-lg-5">
            <div class="form-floating form-floating-outline mb-4">
                <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
            </div>
        </div>
    </div>

</form>