@model HealthCare.Models.PatientEPrescriptionModel

@{
    ViewData["Title"] = "PatientEPrescription";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-12">
    <div class="card-body pt-2 mt-1">

        <h2 class="text-primary mb-1">PatientEPrescription</h2>

       
    </div>
@using (Html.BeginForm("Prescription", "PatientPrescription", FormMethod.Post))
{
    
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
           
           
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">



                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenList = ((IEnumerable<PatientRegistrationModel>)ViewData["patientid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                            }

                            @Html.DropDownListFor(model => model.PatientID, screenList, "Select Patient ID", new { @class = "form-control" })
                            <label asp-for="PatientID" class="control-label"></label>
                            <span asp-validation-for="PatientID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="CaseVisitID" class="form-control" placeholder="Case Visit ID" />
                <label asp-for="CaseVisitID" class="control-label"></label>
               
                <span asp-validation-for="CaseVisitID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="OrderID" class="form-control" placeholder="Order ID" />
                <label asp-for="OrderID" class="control-label"></label>
                
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var screenlist = ((IEnumerable<ResourceTypeMasterModel>)ViewData["docid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.ResourceTypeID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.ResourceTypeID} - {m.ResourceTypeName}"
                });
                            }

                            @Html.DropDownListFor(model => model.DoctorID, screenlist, "Select Doctor ID", new { @class = "form-control" })
                            <label asp-for="DoctorID" class="control-label"></label>
                            <span asp-validation-for="DoctorID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var Screenlist = ((IEnumerable<DrugInventoryModel>)ViewData["drugid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.DrugId.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.DrugId}"
                });
                            }

                            @Html.DropDownListFor(model => model.DrugID, Screenlist, "Select Drug ID", new { @class = "form-control" })
                            <label asp-for="DrugID" class="control-label"></label>
                            <span asp-validation-for="DrugID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PrescriptionDate" class="form-control" type="date" placeholder="Prescription Date" />
                <label asp-for="PrescriptionDate" class="control-label"></label>
                
                <span asp-validation-for="PrescriptionDate" class="text-danger"></span>
            </div>
            </div>
            </div>
            </div>
            
            <div class="col-md-12 col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Unit" class="form-control" placeholder="Unit" />
                <label asp-for="Unit" class="control-label"></label>
               
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="UnitCategory" class="form-control" placeholder="Unit Category" />
                            <label asp-for="UnitCategory" class="control-label">Unit Category</label>
                
                <span asp-validation-for="UnitCategory" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Frequency" class="form-control" placeholder="Frequency" />
                <label asp-for="Frequency" class="control-label"></label>
               
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FrequencyUnit" class="form-control" placeholder="Frequency Unit" />
                            <label asp-for="FrequencyUnit" class="control-label">Frequency Unit</label>
                
                <span asp-validation-for="FrequencyUnit" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Duration" class="form-control" placeholder="Duration" />
                <label asp-for="Duration" class="control-label"></label>
                
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Quantity" class="form-control" placeholder="Quantity" />
                <label asp-for="Quantity" class="control-label"></label>
                
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            </div>
            </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="EndDate" class="form-control" type="date" placeholder="End Date" />
                            <label asp-for="EndDate" class="control-label">End Date</label>
                
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="RouteAdmin" class="form-control" placeholder="Route Admin" />
                            <label asp-for="RouteAdmin" class="control-label">Route Admin</label>
                
                <span asp-validation-for="RouteAdmin" class="text-danger"></span>
            </div>


                        


                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                            <textarea asp-for="Instructions" class="form-control" placeholder="Instructions" aria-describedby="text-to-speech-addon"></textarea>
                <label asp-for="Instructions" class="control-label"></label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>

                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>

                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                            <textarea asp-for="Comments" class="form-control" placeholder="Comments" aria-describedby="text-to-speech-addon"></textarea>
                <label asp-for="Comments" class="control-label"></label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>



                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FillDate" class="form-control" type="date" placeholder="Fill Date" />
                            <label asp-for="FillDate" class="control-label">Fill Date</label>
                
                <span asp-validation-for="FillDate" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Result" class="form-control" placeholder="Result" />
                <label asp-for="Result" class="control-label"></label>
                
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
           @*   <div class="form-group">
                <label asp-for="lastupdatedDate" class="control-label"></label>
                <input asp-for="lastupdatedDate" class="form-control" />
                <span asp-validation-for="lastupdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span> 
        </div> *@
       
 
        
        
      
       
        <br />
        <div class="form-group">
            <center>
            <button type="submit" value="Create" class="btn btn-primary">Create</button>
            

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
                            </center>
            </div>
        </div>
        </div>
            </div>
        </div>
   
}




