@model HealthCare.Models.PatientEPrescriptionModel

@{
    ViewData["Title"] = "PatientEPrescription";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>PatientEPrescription</h1>

<hr />
@using (Html.BeginForm("Prescription", "PatientPrescription", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseVisitID" class="control-label"></label>
                <input asp-for="CaseVisitID" class="form-control" />
                <span asp-validation-for="CaseVisitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <input asp-for="DoctorID" class="form-control" />
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugID" class="control-label"></label>
                <input asp-for="DrugID" class="form-control" />
                <span asp-validation-for="DrugID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionDate" class="control-label"></label>
                <input asp-for="PrescriptionDate" class="form-control" />
                <span asp-validation-for="PrescriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitCategory" class="control-label"></label>
                <input asp-for="UnitCategory" class="form-control" />
                <span asp-validation-for="UnitCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrequencyUnit" class="control-label"></label>
                <input asp-for="FrequencyUnit" class="form-control" />
                <span asp-validation-for="FrequencyUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteAdmin" class="control-label"></label>
                <input asp-for="RouteAdmin" class="form-control" />
                <span asp-validation-for="RouteAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillDate" class="control-label"></label>
                <input asp-for="FillDate" class="form-control" />
                <span asp-validation-for="FillDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
           @*   <div class="form-group">
                <label asp-for="lastupdatedDate" class="control-label"></label>
                <input asp-for="lastupdatedDate" class="form-control" />
                <span asp-validation-for="lastupdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span> 
        </div> *@
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
    </div>
  </div>
}




