@{
  TempData.Keep();
  ViewData["containerNav"] = (ViewData["containerNav"] ??= "container-fluid");
}

<footer class="content-footer footer bg-footer-theme">
  <div class='@ViewData["containerNav"]'>
    <div class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">

      <div class="text-body mb-2 mb-md-0" style="margin-top:30px">
        © <script>document.write(new Date().getFullYear())</script>, StelarTechnologies 
      </div>
      
    </div>
  </div>
</footer>
