@model HealthCare.Models.OTNotesModel

@{
    ViewData["Title"] = "OTNotes";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-1">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">OTNotes</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="height:8%">
</div>

@using (Html.BeginForm("OtNotespatient", "OTManagement", FormMethod.Post))
{
    
            <form asp-action="OTNotes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


                        <div class="form-floating form-floating-outline mb-4">
                                @{
                                    var patientID = ((IEnumerable<PatientRegistrationModel>)ViewData["patientID"])
                                    .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                                }

                                @Html.DropDownListFor(model => model.PatientID, patientID, "Select Patient ID", new { @class = "form-control", required = "required" })
                                <label asp-for="PatientID" class="control-label">Patinet ID</label>
                                <span asp-validation-for="PatientID" class="text-danger"></span>
                            </div>


                            <div class="form-floating form-floating-outline mb-4">
                                @{
                                    var getscheduleid = ((IEnumerable<OtScheduleViewModel>)ViewData["getscheduleid"])
                                    .Select(m => new SelectListItem
                {
                    Value = m.OtSchedulingId.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.OtSchedulingId}"
                });
                                }

                                @Html.DropDownListFor(model => model.OtScheduleID, getscheduleid, "Select OtSchedule ID", new { @class = "form-control", required = "required" })
                                <label asp-for="OtScheduleID" class="control-label">OtSchedule ID</label>
                                <span asp-validation-for="OtScheduleID" class="text-danger"></span>
                            </div>




                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">

                                <textarea asp-for="PreOtNotes" class="form-control" placeholder="PreOtNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="PreOtNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                    <span asp-validation-for="PreOtNotes" class="text-danger"></span>
                </div>


                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="IntraOtNotes" class="form-control" placeholder="IntraOtNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="IntraOtNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                   
                    <span asp-validation-for="IntraOtNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="PostOtNotes" class="form-control" placeholder="PostOtNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="PostOtNotes" class="control-label"></label>

                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                    <span asp-validation-for="PostOtNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="FinalOtNotes" class="form-control" placeholder="FinalOtNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="FinalOtNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                   
                    <span asp-validation-for="FinalOtNotes" class="text-danger"></span>
                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">


                <div class="card">
                    <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                            <div class="form-floating form-floating-outline mb-4 input-group input-group-merge speech-to-text">
                                <textarea asp-for="PreOtAnesthesiaNotes" class="form-control" placeholder="PreOtAnesthesiaNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="PreOtAnesthesiaNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                   
                    <span asp-validation-for="PreOtAnesthesiaNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="IntraOtAnesthesiaNotes" class="form-control" placeholder="IntraOtAnesthesiaNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="IntraOtAnesthesiaNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                   
                    <span asp-validation-for="IntraOtAnesthesiaNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="PostOtAnesthesiaNotes" class="form-control" placeholder="PostOtAnesthesiaNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="PostOtAnesthesiaNotes" class="control-label"></label>
                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                                    
                    <span asp-validation-for="PostOtAnesthesiaNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="ObservationNotes" class="form-control" placeholder="ObservationNotes" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="ObservationNotes" class="control-label"></label>

                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                  
                    <span asp-validation-for="ObservationNotes" class="text-danger"></span>
                </div>
                            <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                                <textarea asp-for="OtherComments" class="form-control" placeholder="OtherComments" aria-describedby="text-to-speech-addon"></textarea>
                                    <label asp-for="OtherComments" class="control-label"></label>

                                <span class="input-group-text" id="text-to-speech-addon">
                                    <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                                </span>
                    <span asp-validation-for="OtherComments" class="text-danger"></span>
                </div>
                @*   <div class="form-group">
                <label asp-for="lastupdatedDate" class="control-label"></label>
                <input asp-for="lastupdatedDate" class="form-control" />
                <span asp-validation-for="lastupdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            <br />
                



            
                </div>
            </div>

            <div class="col-md-12 col-lg-1" style="height=10%">
                <div class="form-floating form-floating-outline mb-4">
                    </div>
                </div>
            <div class="form-group">
                <center>

            <button type="submit" style="width:180px" value="Create" class="btn btn-primary">Save</button>

            @* <button type="submit" style="width:180px" value="Create" class="btn btn-primary">Save</button>
            *@         
            @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success">


                            @ViewBag.Message
                        </div>
                    }
                </center>
            </div>
        </div>
    </div>
</form>




     
}