@model OTSummaryViewModel

@{
    ViewData["Title"] = "OTSummary";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">

        <h2 class="text-primary mb-1">OTSummary</h2>

        <hr />
    </div>
@using (Html.BeginForm("OtsummaryView","OTManagement", FormMethod.Post))
{
   

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row gy-4">

                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var getscheduleID = ((IEnumerable<OtScheduleViewModel>)ViewData["getscheduleID"])
                                .Select(m => new SelectListItem
                {
                    Value = m.OtSchedulingId.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.OtSchedulingId}"
                });
                            }

                            @Html.DropDownListFor(model => model.OtscheduleID, getscheduleID, "Select OtSchedule ID", new { @class = "form-control", required = "required" })
                            <label asp-for="OtscheduleID" class="control-label">OtSchedule ID</label>
                            <span asp-validation-for="OtscheduleID" class="text-danger"></span>
                        </div>
                        <br />
                                <center>
                            <button type="submit" value="Get" asp-action="OtsummaryView" class="btn btn-primary">Get</button>
                                      </center>
                               
                            </div>
                        
                        </div>
           
           </div>
           </div>
          

    <table class="table">
        <thead>
            <tr>

                <th>
                    Question 
                </th>
                <th>
                    Answer
                </th>
               
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                    @for (int i = 0; i < Model.SHotsumm.Count; i++)
                    {
                        <tr>
                            <td>@Model.SHotsumm[i].Question</td>
                            
                            <td>
                            <input type="hidden" asp-for="@Model.SHotsumm[i].QuestionID" />
                                <textarea asp-for="SHotsumm[i].Answer" class="form-control" rows="3"></textarea>
                            </td>
                        </tr>
                    }
                

               
            }
        </tbody>
    </table>

    <button type="submit" name="buttonType" value="Save" class="btn btn-primary">Save</button>
        <button type="submit" name="buttonType" value="Print" class="btn btn-primary">Print</button>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }
}