@model HealthCare.Models.InPatientCaseSheetModel

@{
    ViewData["Title"] = "InPatientCaseSheet";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">In Patient CaseSheet</h2>
            <small class="text-muted float-end"></small>
            <div class="row"></div>
        </div>
    </div>
    
    <form asp-action="InPatientCaseSheet" asp-controller="InPatientModules" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-1"></div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var patientid = ((IEnumerable<PatientRegistrationModel>)ViewData["patientID"])
                                .Select(m => new SelectListItem
            {
                Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.PatientID} - {m.FullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrPatientId, patientid, "Select Patient ID", new { @class = "form-control" })
                            <label asp-for="StrPatientId" class="control-label">PatientID</label>
                            <span asp-validation-for="StrPatientId" class="text-danger"></span>
                        </div>

                       <div class="form-floating form-floating-outline mb-4">
                            @{
                                var caseid = ((IEnumerable<InpatientAdmissionModel>)ViewData["caseid"])
                                .Select(m => new SelectListItem
            {
                Value = m.CaseID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CaseID}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrCaseId, caseid, "Select Case ID", new { @class = "form-control" })
                            <label asp-for="StrCaseId" class="control-label">Case ID</label>
                            <span asp-validation-for="StrCaseId" class="text-danger"></span>

                        </div>



                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var bedid = ((IEnumerable<InpatientAdmissionModel>)ViewData["bedid"])
                                .Select(m => new SelectListItem
            {
                Value = m.BedID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.BedID}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrBedId, bedid, "Select Case ID", new { @class = "form-control" })
                            <label asp-for="StrBedId" class="control-label">Case ID</label>
                            <span asp-validation-for="StrBedId" class="text-danger"></span>

                        </div>





                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrBedId" class="form-control" placeholder="Bed ID" />
                            <label asp-for="StrBedId" class="control-label">Bed ID</label>
                            
                            <span asp-validation-for="StrBedId" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrPostMedHistory" class="form-control" placeholder="Post Medical History" />
                            <label asp-for="StrPostMedHistory" class="control-label">Post Medical History</label>
                            
                            <span asp-validation-for="StrPostMedHistory" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrAllergicTo" class="form-control" placeholder="Allergic To" />
                            <label asp-for="StrAllergicTo" class="control-label">Allergic To</label>
                            
                            <span asp-validation-for="StrAllergicTo" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                    </div>
                    
                    
                    <div class="col-md-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrHeight" class="form-control" placeholder="Height" />
                            <label asp-for="StrHeight" class="control-label">Height</label>
                            
                            <span asp-validation-for="StrHeight" class="text-danger"></span>
                        </div>
                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrWeight" class="form-control" placeholder="Weight" />
                            <label asp-for="StrWeight" class="control-label">Weight</label>
                            
                            <span asp-validation-for="StrWeight" class="text-danger"></span>
                        </div>
                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrDiagnosis" class="form-control" placeholder="Diagnosis" />
                            <label asp-for="StrDiagnosis" class="control-label">Diagnosis</label>
                           
                            <span asp-validation-for="StrDiagnosis" class="text-danger"></span>
                        </div>
                                <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrTreatment" class="form-control" placeholder="Treatment" />
                            <label asp-for="StrTreatment" class="control-label">Treatment</label>
                            
                            <span asp-validation-for="StrTreatment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <center>
                            <button type="submit" value="Create" class="btn btn-primary" >Save</button>
                                @if (ViewBag.Message != null)
                                {
                                    <div class="alert alert-success">


                                        @ViewBag.Message
                                    </div>
                                }
                            </center>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                       
    </form>
    </div>

