@model HealthCare.Models.InpatientDischargeModel

@{
    ViewData["Title"] = "InPatientDischargeSummary";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-1 ">
    </div>
    <div class="col-md-12 col-lg-7 ">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary mb-1" style="font-family:'Lucida Bright'">In-PatientDischargeSummary</h2>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:8%">
        </div>

                 <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="InPatientDischargeSummary"></form>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                                        <div class="form-floating form-floating-outline mb-4">
                                            <input asp-for="PatientID" class="form-control" placeholder="Patient ID" />
                                            <label asp-for="PatientID" class="control-label">Patient ID</label>

                                            <span asp-validation-for="PatientID" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating form-floating-outline mb-4">
                                            <input asp-for="CaseID" class="form-control" placeholder="Case ID" />
                                            <label asp-for="CaseID" class="control-label">Case ID</label>

                                            <span asp-validation-for="CaseID" class="text-danger"></span>
                                        </div>
                                        <div class="row" style="height:12%">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <div class="container">
                                                        <button type="submit" value="Print Summary" class="btn btn-primary">Print Summary</button>
                                                        @if (ViewBag.Message != null)
                                                        {
                                                            <div class="alert alert-success">
                                                                @ViewBag.Message
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="form-floating form-floating-outline mb-4">
                            <img src="~/img/illustrations/Doc.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.png">
                        </div>
                    </div>

                </div>
