@model HealthCare.Models.InPatientCaseSheetModel

@{
    ViewData["Title"] = "InPatientCaseSheet";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-lg-1">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body ">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-primary" style="font-family:'Lucida Bright'">InPatientCaseSheet</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="height:8%">
</div>

    
    <form asp-action="InPatientCaseSheet" asp-controller="InPatientModules" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-1">

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var patientid = ((IEnumerable<PatientRegistrationModel>)ViewData["patientID"])
                                .Select(m => new SelectListItem
            {
                Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.PatientID} - {m.FullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrPatientId, patientid, "Select Patient ID", new { @class = "form-control", required = "required" })
                            <label asp-for="StrPatientId" class="control-label">Patient ID</label>
                            <span asp-validation-for="StrPatientId" class="text-danger"></span>
                        </div>

                       <div class="form-floating form-floating-outline mb-4">
                            @{
                                var caseid = ((IEnumerable<InpatientAdmissionModel>)ViewData["caseid"])
                                .Select(m => new SelectListItem
            {
                Value = m.CaseID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.CaseID}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrCaseId, caseid, "Select Case ID", new { @class = "form-control", required = "required" })
                            <label asp-for="StrCaseId" class="control-label">Case ID</label>
                            <span asp-validation-for="StrCaseId" class="text-danger"></span>

                        </div>



                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var bedid = ((IEnumerable<HospitalBedMasterModel>)ViewData["bedid"])
                                .Select(m => new SelectListItem
            {
                Value = m.BedID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.BedID}"
            });
                            }

                            @Html.DropDownListFor(model => model.StrBedId, bedid, "Select Bed ID", new { @class = "form-control", required = "required" })
                            <label asp-for="StrBedId" class="control-label">Bed ID</label>
                            <span asp-validation-for="StrBedId" class="text-danger"></span>

                        </div>




                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                            <textarea asp-for="StrPostMedHistory" class="form-control" placeholder="Post Medical History" aria-describedby="text-to-speech-addon" required></textarea>
                            <label asp-for="StrPostMedHistory" class="control-label">Post Medical History</label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>

                            <span asp-validation-for="StrPostMedHistory" class="text-danger"></span>
                        </div>

                       
                    </div>
                    </div>
                    </div>
                    
                    
                    <div class="col-md-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="StrAllergicTo" class="form-control" placeholder="Allergic To" />
                            <label asp-for="StrAllergicTo" class="control-label">Allergic To</label>

                            <span asp-validation-for="StrAllergicTo" class="text-danger"></span>
                        </div>


                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                            <textarea asp-for="StrDiagnosis" class="form-control" placeholder="Diagnosis" aria-describedby="text-to-speech-addon" required></textarea>
                            <label asp-for="StrDiagnosis" class="control-label">Diagnosis</label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>

                            <span asp-validation-for="StrDiagnosis" class="text-danger"></span>
                        </div>



                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">
                            <textarea asp-for="StrTreatment" class="form-control" placeholder="Treatment" aria-describedby="text-to-speech-addon" required></textarea>
                            <label asp-for="StrTreatment" class="control-label">Treatment</label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>

                            <span asp-validation-for="StrTreatment" class="text-danger"></span>
                        </div>
                </div>
            </div>

                    <div class="col-md-12 col-lg-1" style="height=10%">
                        <div class="form-floating form-floating-outline mb-4">
                        </div>
                    </div>
                    <div class="form-group">
                        <center>
                            <button type="submit" value="Create" class="btn btn-primary">Save</button>

                              @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">


                                    @ViewBag.Message
                                </div>
                            }
                        </center>
                    </div>
                    </div>
              
</form>




