@model HealthCare.Models.InpatientDischargeModel

@{
    ViewData["Title"] = "InPatientDischargeSummary";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>InPatientDischargeSummary</h1>

<h4>InpatientDischargeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InPatientDischargeSummary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseID" class="control-label"></label>
                <input asp-for="CaseID" class="form-control" />
                <span asp-validation-for="CaseID" class="text-danger"></span>
            </div>

@*             <div class="form-group">
                <label asp-for="DischargeNotes" class="control-label"></label>
                <input asp-for="DischargeNotes" class="form-control" />
                <span asp-validation-for="DischargeNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <input asp-for="DoctorID" class="form-control" />
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Print Summary" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


