

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="c:\users\user\downloads\materio-bootstrap-html-aspnet-core-mvc-admin-template-free\views\home\index.cshtml">c:\users\user\downloads\materio-bootstrap-html-aspnet-core-mvc-admin-template-free\views\home\index.cshtml</a>
@{
    ViewData["Title"] = "Home Page";
}
