@model VoucherCustomerDetailModel

@{
    ViewData["Title"] = "VoucherCustomerDetails";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>VoucherCustomerDetails</h1>

<h4>VoucherCustomerDetailModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VoucherCustomerDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoucherID" class="control-label"></label>
                <input asp-for="VoucherID" class="form-control" />
                <span asp-validation-for="VoucherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" />
                <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedUser" class="control-label"></label>
                <input asp-for="LastUpdatedUser" class="form-control" />
                <span asp-validation-for="LastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedmachine" class="control-label"></label>
                <input asp-for="LastUpdatedmachine" class="form-control" />
                <span asp-validation-for="LastUpdatedmachine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
