@model HealthCare.Models.DrugGroupModel

@{
    ViewData["Title"] = "DrugGroupMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>DrugGroup</h1>


<hr />
@using (Html.BeginForm("DrugGroup", "StockManagement", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupTypeID" class="control-label"></label>
                <input asp-for="GroupTypeID" class="form-control" />
                <span asp-validation-for="GroupTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupTypeName" class="control-label"></label>
                <input asp-for="GroupTypeName" class="form-control" />
                <span asp-validation-for="GroupTypeName" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedmachine" class="control-label"></label>
                <input asp-for="LastUpdatedmachine" class="form-control" />
                <span asp-validation-for="LastUpdatedmachine" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }

        </div>
    </div>
}