@model HealthCare.Models.DrugRackModel

@{
    ViewData["Title"] = "DrugRackMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}
<div class="row gy-4">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">Drug Inventory</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gy-4" style="height:8%">
</div>

@using (Html.BeginForm("DrugRack", "StockManagement", FormMethod.Post))
{
   
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row gy-4">

        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-8">
            <div class="card">

                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RackID" class="form-control" placeholder="RackID" />
                    <label asp-for="RackID" class="control-label"></label>
                    <span asp-validation-for="RackID" class="text-danger"></span>
                </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RackName" class="form-control" placeholder="RackName" />
                    <label asp-for="RackName" class="control-label"></label>
                    <span asp-validation-for="RackName" class="text-danger"></span>
                </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="UniqueIdentifier" class="form-control" placeholder="UniqueIdentifier" />
                    <label asp-for="UniqueIdentifier" class="control-label"></label>
                    <span asp-validation-for="UniqueIdentifier" class="text-danger"></span>
                </div>


                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">

                            <textarea asp-for="Comments" class="form-control" placeholder="Comments" aria-describedby="text-to-speech-addon"></textarea>
                    <label asp-for="Comments" class="control-label"></label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedmachine" class="control-label"></label>
                <input asp-for="lastUpdatedmachine" class="form-control" />
                <span asp-validation-for="lastUpdatedmachine" class="text-danger"></span>
            </div> *@

            
               </div></div></div></div>
               
    <div class="form-group">
        <center>
            <button type="submit" value="Create" class="btn btn-primary">Save</button>
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </center>
    </div>
            
      
}

            