@model HealthCare.Models.DrugInventoryModel

@{
    ViewData["Title"] = "DrugInventory";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> DrugInventory</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>




        <form asp-action="DrugInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="DrugId" class="control-label"></label>
                <input asp-for="DrugId" class="form-control" />
                <span asp-validation-for="DrugId" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="TypeId" class="control-label"></label>
                <input asp-for="TypeId" class="form-control" />
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="RockId" class="control-label"></label>
                <input asp-for="RockId" class="form-control" />
                <span asp-validation-for="RockId" class="text-danger"></span>
            </div>
            </div>
            </div>
            </div>
           
                    <div class="col-md-12 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="MedicalDescription" class="control-label"></label>
                <input asp-for="MedicalDescription" class="form-control" />
                <span asp-validation-for="MedicalDescription" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="SideEffects" class="control-label"></label>
                <input asp-for="SideEffects" class="form-control" />
                <span asp-validation-for="SideEffects" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="Therapy" class="control-label"></label>
                <input asp-for="Therapy" class="form-control" />
                <span asp-validation-for="Therapy" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            </div>
            </div>
            

                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="BarCode" class="control-label"></label>
                <input asp-for="BarCode" class="form-control" />
                <span asp-validation-for="BarCode" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="GroupType" class="control-label"></label>
                <input asp-for="GroupType" class="form-control" />
                <span asp-validation-for="GroupType" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="LastupdatedUser" class="control-label"></label>
                <input asp-for="LastupdatedUser" class="form-control" />
                <span asp-validation-for="LastupdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastupdatedDate" class="control-label"></label>
                <input asp-for="LastupdatedDate" class="form-control" />
                <span asp-validation-for="LastupdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedMachine" class="control-label"></label>
                <input asp-for="LastUpdatedMachine" class="form-control" />
                <span asp-validation-for="LastUpdatedMachine" class="text-danger"></span>
            </div>*@
                        <div class="form-floating form-floating-outline mb-4">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <center>
                <button type="submit" value="Create" class="btn btn-primary" >Save</button>
                </center>
            </div>
            </div></div></div></div>
        </form>
    </div>
<

