@model HealthCare.Models.DrugRackModel

@{
    ViewData["Title"] = "DrugRackMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>DrugRackMaster</h1>


<hr />
@using (Html.BeginForm("DrugRack", "StockManagement", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RackID" class="control-label"></label>
                    <input asp-for="RackID" class="form-control" />
                    <span asp-validation-for="RackID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RackName" class="control-label"></label>
                    <input asp-for="RackName" class="form-control" />
                    <span asp-validation-for="RackName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UniqueIdentifier" class="control-label"></label>
                    <input asp-for="UniqueIdentifier" class="form-control" />
                    <span asp-validation-for="UniqueIdentifier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedmachine" class="control-label"></label>
                <input asp-for="lastUpdatedmachine" class="form-control" />
                <span asp-validation-for="lastUpdatedmachine" class="text-danger"></span>
            </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
        </div>
    </div>
}

            