@model HealthCare.Models.DrugStockModel

@{
    ViewData["Title"] = "DrugStockMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<div class="row gy-4">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                        <h2 class="centered text-white" style="font-family:'Lucida Bright'">Drug Inventory</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gy-4" style="height:8%">
</div>


        <form asp-action="DrugStockMaster">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row gy-4">
        
        <div class="col-md-12 col-lg-2"></div>

        <div class="col-md-12 col-lg-8">
            <div class="card">

                <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="IDNumber" class="form-control" placeholder="IDNumber" />
                <label asp-for="IDNumber" class="control-label"></label>
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="DrugID" class="form-control" placeholder="" />
                <label asp-for="DrugID" class="control-label"></label>
                <span asp-validation-for="DrugID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RackID" class="form-control" placeholder="DrugID" />
                            <label asp-for="RackID" class="control-label"></label>
                            <span asp-validation-for="RackID" class="text-danger"></span>
                       </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="ManufacturingDate" type="date" class="form-control" placeholder="ManufacturingDate" />
                <label asp-for="ManufacturingDate" class="control-label"></label>
                <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="ExpiryDate" type="date" class="form-control" placeholder="ExpiryDate" />
                <label asp-for="ExpiryDate" class="control-label"></label>
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="NumberOfStock" class="form-control" placeholder="NumberOfStock" />
                <label asp-for="NumberOfStock" class="control-label"></label>
                <span asp-validation-for="NumberOfStock" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedMachine" class="control-label"></label>
                <input asp-for="lastUpdatedMachine" class="form-control" />
                <span asp-validation-for="lastUpdatedMachine" class="text-danger"></span>
            </div> *@
            </div></div></div>
            
            <div class="form-group">
                <center>
                <button type="submit" value="Submit" asp-action="DrugStock" class="btn btn-primary" >Save</button>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">


                                    @ViewBag.Message
                                </div>

                            }
                     </center>       @* <button type="submit" asp-action="DrugStock" class="babge bg-label-primary rounded-pill">Save</button>
 *@            </div>

      
        </form>

