@model HealthCare.Models.DrugRackModel

@{
    ViewData["Title"] = "DrugRackMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">DrugRackMaster</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


@using (Html.BeginForm("DrugRack", "StockManagement", FormMethod.Post))
{
   
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row gy-4">

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RackID" class="form-control" placeholder="RackID" />
                    <label asp-for="RackID" class="control-label"></label>
                    <span asp-validation-for="RackID" class="text-danger"></span>
                </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="RackName" class="form-control" placeholder="RackName" />
                    <label asp-for="RackName" class="control-label"></label>
                    <span asp-validation-for="RackName" class="text-danger"></span>
                </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="UniqueIdentifier" class="form-control" placeholder="UniqueIdentifier" />
                    <label asp-for="UniqueIdentifier" class="control-label"></label>
                    <span asp-validation-for="UniqueIdentifier" class="text-danger"></span>
                </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="Comments" class="form-control" placeholder="Comments" />
                    <label asp-for="Comments" class="control-label"></label>
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>
                @*  <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedmachine" class="control-label"></label>
                <input asp-for="lastUpdatedmachine" class="form-control" />
                <span asp-validation-for="lastUpdatedmachine" class="text-danger"></span>
            </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div></div></div></div></div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
      
}

            