@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "MedicationCategoryMaster";
}

<div>this page is for Medication Category Master</div>
