@model HealthCare.Models.PayrollModel

@{
    ViewData["Title"] = "Payroll";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Payroll</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetPayroll" method="post" asp-controller="HRManagement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="PayrollID" class="form-control" placeholder="PayrollID" />
                <label asp-for="PayrollID" class="control-label">Payroll ID</label>
                <span asp-validation-for="PayrollID" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                @{
                    var screenlist = ((IEnumerable<StaffAdminModel>)ViewData["docid"])
                    .Select(m => new SelectListItem
            {
                Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.StrStaffID} - {m.StrFullName}"
            });
                }

                @Html.DropDownListFor(model => model.StaffID, screenlist, "Select Employee ID", new { @class = "form-control" })
                <label asp-for="StaffID" class="control-label">Employee ID</label>

            </div>

            <div class="form-floating form-floating-outline mb-4">
                @{
                    var screenname = ((IEnumerable<StaffAdminModel>)ViewData["docid"])
                    .Select(m => new SelectListItem
            {
                Value = m.StrStaffID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.StrFullName}"
            });
                }

                @Html.DropDownListFor(model => model.StaffName, screenname, "Select Employee Name", new { @class = "form-control" })
                <label asp-for="StaffName" class="control-label">Employee Name</label>

            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="PayPeriod" class="form-control" placeholder="PayPeriod" />
                <label asp-for="PayPeriod" class="control-label">Pay Period</label>
                <span asp-validation-for="PayPeriod" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="BasicSalary" class="form-control" placeholder="BasicSalary" />
                <label asp-for="BasicSalary" class="control-label">Basic Salary</label>
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="Bonus" class="form-control" placeholder="Bonus" />
                <label asp-for="Bonus" class="control-label">Bonus</label>
                <span asp-validation-for="Bonus" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="ProvidentFund" class="form-control" placeholder="Provident Fund" />
                <label asp-for="ProvidentFund" class="control-label">Provident Fund</label>
                <span asp-validation-for="ProvidentFund" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="TaxDeduction" class="form-control" placeholder="TaxDeduction" />
                <label asp-for="TaxDeduction" class="control-label">Tax Deduction</label>
                <span asp-validation-for="TaxDeduction" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="HRA" class="form-control" placeholder="HRA" />
                <label asp-for="HRA" class="control-label">HRA</label>
                <span asp-validation-for="HRA" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="Allowances" class="form-control" placeholder="Allowances" />
                <label asp-for="Allowances" class="control-label">Allowances</label>
                <span asp-validation-for="Allowances" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="GrossSalary" class="form-control" placeholder="Gross Salary" />
                <label asp-for="GrossSalary" class="control-label">GrossSalary</label>
                <span asp-validation-for="GrossSalary" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="NetSalary" class="form-control" placeholder="Net Salary" />
                <label asp-for="NetSalary" class="control-label">Net Salary</label>
                <span asp-validation-for="NetSalary" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="PaymentDate" class="form-control" placeholder="Payment Date" />
                <label asp-for="PaymentDate" class="control-label">Payment Date</label>
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="PaymentStatus" class="form-control" placeholder="PaymentStatus" />
                <label asp-for="PaymentStatus" class="control-label">Payment Status</label>
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="Remark" class="form-control" placeholder="Remark" />
                <label asp-for="Remark" class="control-label">Remark</label>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>

         
            <div class="form-floating form-floating-outline mb-4">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }

            <button type="submit" name="buttonType" value="PayrollTaxMaster" class="btn btn-primary">Payroll Tax Master</button>

        </form>
    </div>
</div>

