@model HealthCare.Models.TaxModel

@{
    ViewData["Title"] = "StaffTaxMaster";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

        @using (Html.BeginForm("GetTax","HRManagement", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                   
                                  
<div class="row">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-color:#8c62c9">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="container">
                                    <h2 class="centered text-white" style="font-family:'Lucida Bright'">Staff Tax Master</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />

<div class="row" style="height:8%">
</div>

<div class="row gy-4">
    <div class="col-md-12 col-lg-2">
    </div>
    <div class="col-md-12 col-lg-8">
        <div class="card">
            <div class="card-body " style="background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 51%, #ece5f6 100%);">


            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="TaxID" class="form-control" placeholder="Tax ID" required />
                <label asp-for="TaxID" class="control-label">Tax ID</label>
                <span asp-validation-for="TaxID" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4"> 
                <input asp-for="TaxType" class="form-control" placeholder="Tax Type" required />
                <label asp-for="TaxType" class="control-label">Tax Type</label>
                <span asp-validation-for="TaxType" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="TaxAmount" class="form-control" placeholder="Tax Amount" />
                <label asp-for="TaxAmount" class="control-label">Tax Amount</label>
                <span asp-validation-for="TaxAmount" class="text-danger"></span>
            </div>

            <div class="form-floating form-floating-outline mb-4">
                <input asp-for="ApplicablePeriod" class="form-control" placeholder="Applicable Period" />
                <label asp-for="ApplicablePeriod" class="control-label">Applicable Period</label>
                <span asp-validation-for="ApplicablePeriod" class="text-danger"></span>
            </div>


                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2">
        </div>
    </div>
    <br />
    <div class="form-group">
        <center>

            <button type="submit" style="width:180px" value="Save" class="btn btn-primary">Save</button>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
        </center>
    </div>

}
          