@model PatientTestModel

@{
    ViewData["Title"] = "TestCreation";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>TestCreation</h1>

<h4>PatientTestModel</h4>
<hr />
@using (Html.BeginForm("TestCreation", "LabRad", FormMethod.Post))
{
     <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" name="PatientID" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestID" class="control-label"></label>
                <input asp-for="TestID" class="form-control" name="TestID" />
                <span asp-validation-for="TestID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicID" class="control-label"></label>
                <input asp-for="ClinicID" class="form-control" name="ClinicID" />
                <span asp-validation-for="ClinicID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestDateTime" class="control-label"></label>
                <input asp-for="TestDateTime" class="form-control" name="TestDateTime" />
                <span asp-validation-for="TestDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestResult" class="control-label"></label>
                <input asp-for="TestResult" class="form-control" name="TestResult" />
                <span asp-validation-for="TestResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TsampleClt" class="control-label"></label>
                <input asp-for="TsampleClt" class="form-control" name="TsampleClt"/>
            </div>
            <div class="form-group">
                <label asp-for="TsampleCltDateTime" class="control-label"></label>
                <input asp-for="TsampleCltDateTime" class="form-control" name="TsampleCltDateTime" />
                <span asp-validation-for="TsampleCltDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExptRsltDateTime" class="control-label"></label>
                <input asp-for="ExptRsltDateTime" class="form-control" />
                <span asp-validation-for="ExptRsltDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultPublish" class="control-label"></label>
                <input asp-for="ResultPublish" class="form-control" />
                <span asp-validation-for="ResultPublish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferDocID" class="control-label"></label>
                <input asp-for="ReferDocID" class="form-control" />
                <span asp-validation-for="ReferDocID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferDate" class="control-label"></label>
                <input asp-for="ReferDate" class="form-control" />
                <span asp-validation-for="ReferDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultDate" class="control-label"></label>
                <input asp-for="ResultDate" class="form-control" />
                <span asp-validation-for="ResultDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }
</div>
</div>

}



