@model PatientTestModel

@{
    ViewData["Title"] = "TestCreation";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}



<div class="card xl-8">
    <div class="card-body pt-2 mt-1">

<h2 class="text-primary mb-1">Create Test</h2>

<hr />
</div>

@using (Html.BeginForm("TestCreation", "LabRad", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

     <div class="card">
            <div class="card-body">

    <div class="row" style="height: 80px;">

        <div class="col-md-12 col-lg-3">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                    <label asp-for="PatientID" class="control-label"></label>
                    <span asp-validation-for="PatientID" class="text-danger"></span>
                </div>
        </div>
            <div class="col-md-12 col-lg-3">
                    <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="TestID" class="form-control" placeholder="TestID" />
                        <label asp-for="TestID" class="control-label"></label>
                        <span asp-validation-for="TestID" class="text-danger"></span>
                    </div>
        </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>
                        </div>
                    </div>

            <div class="col-md-12 col-lg-3">
                        <div>
                            <input type="submit" value="Get" class="btn btn-outline-dark waves-effect" />
                        </div>

                            </div>
                </div>
            </div>
        </div>

        <div class="row" style="height: 50px;">
            </div>

        <div class="row" style="height: 500px;">
            <div class="col-md-12 col-lg-1">
            </div>

        <div class="col-md-12 col-lg-5">

                <div class="card">
                    <div class="card-body">
                            <div class="form-floating form-floating-outline mb-4">
                           <input asp-for="TestDateTime" class="form-control" placeholder="TestDateTime" />
                <label asp-for="TestDateTime" class="control-label"></label>
                        
                <span asp-validation-for="TestDateTime" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TestResult" class="form-control" placeholder="TestResult" />
                <label asp-for="TestResult" class="control-label"></label>
                          
                <span asp-validation-for="TestResult" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TsampleClt" class="form-control" placeholder="SampleCollected(Yes/No)" />
                            <label asp-for="TsampleClt" class="control-label">SampleCollected(Yes/No)</label>
                          
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="TsampleCltDateTime" class="form-control" placeholder="SampleCollectDateTime" />
                            <label asp-for="TsampleCltDateTime" class="control-label">SampleCollectDateTime</label>
                          
                <span asp-validation-for="TsampleCltDateTime" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ExptRsltDateTime" class="form-control" placeholder="ExpectedResultDateTime" />
                            <label asp-for="ExptRsltDateTime" class="control-label">ExpectedResultDateTime</label>
                          
                <span asp-validation-for="ExptRsltDateTime" class="text-danger"></span>
            </div>
                    </div>
                </div>
            </div>
                <div class="col-md-12 col-lg-5">
                    <div class="card">
                    <div class="card-body">
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ResultPublish" class="form-control" placeholder="ResultPublish(Yes/No)" />
                            <label asp-for="ResultPublish" class="control-label">ResultPublish(Yes/No)</label>
                         
                <span asp-validation-for="ResultPublish" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ReferDocID" class="form-control" placeholder="ReferDocterID" />
                            <label asp-for="ReferDocID" class="control-label"></label>
                            <span asp-validation-for="ReferDocID" class="text-danger"></span>

                        </div>
                    
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ReferDate" class="form-control" placeholder="ReferDate" />
                <label asp-for="ReferDate" class="control-label"></label>
                           
                <span asp-validation-for="ReferDate" class="text-danger"></span>
            </div>
                            <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ResultDate" class="form-control" placeholder="ResultDate" />
                <label asp-for="ResultDate" class="control-label"></label>
                         
                <span asp-validation-for="ResultDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-dark waves-effect" />
            </div>
                    </div>
                </div>
            <div class="col-md-12 col-lg-1">
            </div>
            </div>
            </div>
       
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }

           



}

</div>

