@using HealthCare.Models
@using NonFactors.Mvc.Grid
@model PatientExaminationModel

@{
    ViewData["Title"] = "PatientExamination";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}


<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> Patient Examination</h2>
            <small class="text-muted float-end"></small>
        </div>
    </div>


        <form asp-action="PatientExamination" method="post" asp-controller="OPDManagement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">
            <div class="col-md-12 col-lg-2">

            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        @* <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                <label asp-for="PatientID" class="control-label"></label>
                
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                <label asp-for="FacilityID" class="control-label"></label>
                
            </div> *@


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var patientid = ((IEnumerable<PatientRegistrationModel>)ViewData["patid"])
                                .Select(m => new SelectListItem
            {
                Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.PatientID} - {m.FullName}"
            });
                            }

                            @Html.DropDownListFor(model => model.PatientID, patientid, "Select Patient ID", new { @class = "form-control", @required = "required" })
                            <label asp-for="PatientID" class="control-label">Patient ID</label>
                            
                        </div>

                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var visitid = ((IEnumerable<PatientObjectiveModel>)ViewData["VisitDW"])
                                .Select(m => new SelectListItem
            {
                Value = m.VisitID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.VisitID}"
            });
                            }

                            @Html.DropDownListFor(model => model.VisitID, visitid, "Select visit ID", new { @class = "form-control", @required = "required" })
                            <label asp-for="VisitID" class="control-label">Visit ID</label>
                           
                        </div>



                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var facilityid = ((IEnumerable<ClinicAdminModel>)ViewData["faid"])
                                .Select(m => new SelectListItem
            {
                Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                Text = $"{m.FacilityID} - {m.ClinicName}"
            });
                            }

                            @Html.DropDownListFor(model => model.FacilityID, facilityid, "Select Facility ID", new { @class = "form-control", @required = "required" })
                            <label asp-for="FacilityID" class="control-label">Facility ID</label>
                            
                        </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="ExaminationID" class="form-control" placeholder="Examination ID" required />
                            <label asp-for="ExaminationID" class="control-label">Examination ID</label>
                
            </div>
                        @* <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="VisitID" class="form-control" placeholder="VisitID" />
                <label asp-for="VisitID" class="control-label"></label>
               
            </div> *@
                        
            </div>
            </div></div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="Complaint" class="form-control" placeholder="Complaint" />
                            <label asp-for="Complaint" class="control-label"></label>

                        </div>

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="Diagnosis" class="form-control" placeholder="Diagnosis" />
                <label asp-for="Diagnosis" class="control-label"></label>
               
            </div>

                        <div class="input-group input-group-merge speech-to-text form-floating form-floating-outline mb-4">

                            <textarea asp-for="Prescription" class="form-control" placeholder="Prescription" aria-describedby="text-to-speech-addon"></textarea>
                <label asp-for="Prescription" class="control-label"></label>
                            <span class="input-group-text" id="text-to-speech-addon">
                                <i class="mdi mdi-microphone-outline cursor-pointer text-to-speech-toggle"></i>
                            </span>
               
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FollowUp" class="form-control" placeholder="FollowUp" type="date" />
                <label asp-for="FollowUp" class="control-label"></label>
                
            </div>
           @*  <div class="form-group">
                <label asp-for="lastUpdatedDate" class="control-label"></label>
                <input asp-for="lastUpdatedDate" class="form-control" />
                <span asp-validation-for="lastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div> *@

            
                    </div>
                </div>
            </div>
        </div>
        <br />
            <div class="form-group">
                <center>
                <button type="submit" value="Create" class="btn btn-primary" >Save</button>

          
                
          
            <button type="submit" name="buttonType" value="patientDiagnosis" class="btn btn-primary">Patient Diagnosis</button>
           
            <button type="submit" name="buttonType" value="patientProcedure" class="btn btn-primary">Patient Procedure</button>

                <button type="submit" name="buttonType" value="Symptoms Severity" class="btn btn-primary" >Symptoms Severity</button>


                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.Message
                    </div>
                }
            </center>
            </div>
            
        </form>
        </div>



