@model PatientObjectiveModel

@{
    ViewData["Title"] = "PatientObjectiveData";
}


<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1">Patient Visit Objective Data</h2>
            <small class="text-muted float-end">Patient Objective data on each visist</small>

        </div>
    </div>
    @using (Html.BeginForm("PatientObjectiveData","OPDManagement", FormMethod.Post))
    {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        @* <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="PatientID" class="form-control" placeholder="PatientID"
                                   name="PatientID" id="PatientID" />
                            
                            <label asp-for="PatientID">Patient ID</label>
                            <span asp-validation-for="PatientID" class="text-danger"></span>

                        </div> *@


                        @*  <div class="form-floating form-floating-outline mb-4">

                    <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" name="FacilityID" />
                    <label asp-for="FacilityID" class="control-label"></label>
                    <span asp-validation-for="FacilityID" class="text-danger"></span>
                    </div> *@


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var patientid = ((IEnumerable<PatientRegistrationModel>)ViewData["patid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.PatientID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.PatientID} - {m.FullName}"
                });
                            }

                            @Html.DropDownListFor(model => model.PatientID, patientid, "Select Patient ID", new { @class = "form-control", @required = "required" })
                            <label asp-for="PatientID" class="control-label"></label>
                            <span asp-validation-for="PatientID" class="text-danger"></span>
                        </div>


                        <div class="form-floating form-floating-outline mb-4">
                            @{
                                var facilityid = ((IEnumerable<ClinicAdminModel>)ViewData["faid"])
                                .Select(m => new SelectListItem
                {
                    Value = m.FacilityID.ToString(), // Assuming ScreenId is of type int
                    Text = $"{m.FacilityID} - {m.ClinicName}"
                });
                            }

                            @Html.DropDownListFor(model => model.FacilityID, facilityid, "Select Facility ID", new { @class = "form-control", @required = "required" })
                            <label asp-for="FacilityID" class="control-label"></label>
                            <span asp-validation-for="FacilityID" class="text-danger"></span>
                        </div>
                       
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="VisitID" class="form-control" placeholder="Visit ID" />
                            <label asp-for="VisitID" class="control-label">VisitID</label>

                            <span asp-validation-for="VisitID" class="text-danger"></span>
                        </div>

                        <div>
                            <center>

                                <a asp-action="CreateGet" class="btn btn-primary btn-lg">SEARCH</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Height" class="form-control" placeholder="Height" />
                            <label asp-for="Height" class="control-label"></label>

                            
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Weight" class="form-control" placeholder="Weight" />
                            <label asp-for="Weight" class="control-label"></label>

                            
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="BloodPressure" class="form-control" placeholder="Blood Pressure" />
                            <label asp-for="BloodPressure" class="control-label">Blood Pressure</label>

                           
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="HeartRate" class="form-control" placeholder="Heart Rate" />
                            <label asp-for="HeartRate" class="control-label">Heart Rate</label>

                            
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Temperature" class="form-control" placeholder="Temperature" />
                            <label asp-for="Temperature" class="control-label"></label>

                           
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="ResptryRate" class="form-control" placeholder="Respiratory Rate " />
                            <label asp-for="ResptryRate" class="control-label">Respiratory Rate</label>

                           
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="OxySat" class="form-control" placeholder="Oxygen Saturation" />
                            <label asp-for="OxySat" class="control-label">Oxygen Saturation</label>
                           
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PulseRate" class="form-control" placeholder="Pulse Rate" />
                            <label asp-for="PulseRate" class="control-label">Pulse Rate</label>
                          
                        </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="VisitDate" class="form-control" placeholder="Visit Date" type="date" />
                            <label asp-for="VisitDate" class="control-label">Visit Date</label>
                           
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="BldGluLvl" class="form-control" placeholder="Blood Glucose Level" />
                            <label asp-for="BldGluLvl" class="control-label">Blood Glucose Level</label>

                           
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="CheifComplaint" class="form-control" placeholder="Cheif Complaint" required/>
                            <label asp-for="CheifComplaint" class="control-label">Cheif Complaint</label>

                            <span asp-validation-for="CheifComplaint" class="text-danger"></span>
                        </div>
                        <div>
                            <center>
                            <button type="submit" value="Save" class="btn btn-primary btn-lg" >Save</button>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-success">
                                    @ViewBag.Message
                                </div>
                            }
                            </center>
                            @* <a asp-action="Create" class="btn btn-primary btn-lg" asp-route-PatientObjectData="Model">SAVE</a> *@
                        </div>
                    

                    </div>
                </div>
            </div>
        </div>


    }

</div>
    </div>


