@model HealthCare.Business.PatientInfoDocumentModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> Patient Visit Document</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


        <form asp-action="GeneratePatientExaminationDocument" asp-controller="PatientExamination">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                <label asp-for="PatientID" class="control-label"></label>
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="VisitID" class="form-control" placeholder="VisitID" />
                <label asp-for="VisitID" class="control-label"></label>
                <span asp-validation-for="VisitID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">

                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                <label asp-for="FacilityID" class="control-label"></label>
                <span asp-validation-for="FacilityID" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="StrlastUpdatedDate" class="control-label"></label>
                <input asp-for="StrlastUpdatedDate" class="form-control" />
                <span asp-validation-for="StrlastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrlastUpdatedUser" class="control-label"></label>
                <input asp-for="StrlastUpdatedUser" class="form-control" />
                <span asp-validation-for="StrlastUpdatedUser" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <center>
                                <button type="submit" value="GetDocument" class="btn btn-primary" >Get Document</button>
                </center>
                
            </div>
        </form>
    </div>
</div>


