@model PatientScheduleModel

@{
    ViewData["Title"] = "PatientScheduling";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<div class="card xl-6">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center" style="height: 50px;">
            <h2 class="text-primary mb-1"> PatientScheduling </h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>



        <form asp-action="PatientScheduling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-1">
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="card">
                    <div class="card-body">

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                <label asp-for="PatientID" class="control-label"></label>
                
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                <label asp-for="FacilityID" class="control-label"></label>
                
                <span asp-validation-for="FacilityID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="DoctorID" class="form-control" placeholder="DoctorID" />
                <label asp-for="DoctorID" class="control-label"></label>
                
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Date" class="form-control" type="date" placeholder="Date" />
                <label asp-for="Date" class="control-label"></label>
                
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Description" class="form-control" placeholder="Description" />
                <label asp-for="Description" class="control-label"></label>
                
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <center>
                <button type="submit" value="Save" class="btn btn-primary" >Save</button>
                </center>
            </div>

        </form>
    </div>
</div>




