@model PatientRegistrationModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}




<div class="card xl-8">
    <div class="card-body pt-2 mt-1">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="text-primary mb-1" >Patient Registration</h2>
            <small class="text-muted float-end"></small>

        </div>
    </div>


        <form asp-action="Create" asp-controller="PatientRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card">
            <div class="card-body">
        <div class="row gy-4">
           
            <div class="col-md-12 col-lg-3">
                 <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PatientID" class="form-control" placeholder="PatientID" />
                            <label asp-for="PatientID" class="control-label"></label>
                                  <span asp-validation-for="PatientID" class="text-danger"></span>


                        </div>


                    
            </div>
                        <div class="col-md-12 col-lg-3">
                          
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="FacilityID" class="form-control" placeholder="FacilityID" />
                <label asp-for="FacilityID" class="control-label"></label>
                            
                <span asp-validation-for="FacilityID" class="text-danger"></span>
            </div>
                   
            </div>
            <div class="col-md-12 col-lg-6">
               
            <div>
                            <input type="submit" value="Get" asp-action="GetPatient" class="btn btn-outline-dark waves-effect" />
            </div>
                    </div>
                </div>
            </div>
         </div>

        <div class="row gy-4">
            <div class="form-floating form-floating-outline mb-4">
                </div>
            </div>
        <div class="row gy-4">

            <div class="col-md-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                <label asp-for="FirstName" class="control-label"></label>
                           
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="MidName" class="form-control" placeholder="MidName" />
                <label asp-for="MidName" class="control-label"></label>
                           
                <span asp-validation-for="MidName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="LastName" class="form-control" placeholder="LastName" />
                <label asp-for="LastName" class="control-label"></label>
                            
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="FullName" class="form-control" placeholder="FullName" x-webkit-speech />
                <label asp-for="FullName" class="control-label"></label>
                          
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Initial" class="form-control" placeholder="Initial" />
                <label asp-for="Initial" class="control-label"></label>
                           
                <span asp-validation-for="Initial" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                        <input asp-for="Prefix" class="form-control" placeholder="Prefix" />
                <label asp-for="Prefix" class="control-label"></label>
                           
                <span asp-validation-for="Prefix" class="text-danger"></span>
            </div>                          
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Dob" class="form-control" placeholder="Dob" />
                            <label asp-for="Dob" class="control-label"></label>

                            <span asp-validation-for="Dob" class="text-danger"></span>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Age" class="form-control" placeholder="Age" />
                            <label asp-for="Age" class="control-label"></label>

                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <select asp-for="BloodGroup" class="form-control">
                                <option value="">Select Blood Group</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                            <label asp-for="BloodGroup" class="control-label"></label>
                            <span asp-validation-for="BloodGroup" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Gender:</label><br />
                            <div class="form-check form-check-inline">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Male" id="maleRadio" />
                                <label class="form-check-label" for="maleRadio">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="femaleRadio" />
                                <label class="form-check-label" for="femaleRadio">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="Gender" class="form-check-input" type="radio" value="Other" id="otherRadio" />
                                <label class="form-check-label" for="otherRadio">Other</label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

          
           



                        <div class="form-group">
                            <label class="control-label">Marital Status:</label><br />
                            <div class="form-check form-check-inline">
                                <input asp-for="MaritalStatus" class="form-check-input" type="radio" value="Single" id="singleRadio" />
                                <label class="form-check-label" for="singleRadio">Single</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="MaritalStatus" class="form-check-input" type="radio" value="Married" id="marriedRadio" />
                                <label class="form-check-label" for="marriedRadio">Married</label>
                            </div>
                            <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                        </div>



                        <div class="form-floating form-floating-outline mb-4">
                            <textarea class="form-control" aria-label="Address1" placeholder="Address1" style="height: 90px;"></textarea>
                            <label asp-for="Address1" class="control-label"></label>
                            <span asp-validation-for="Address1" class="text-danger"></span>
             </div>               

                        <div class="form-floating form-floating-outline mb-4">
                            <textarea class="form-control" aria-label="Address2" placeholder="Address2" style="height: 90px;"></textarea>
                            <label asp-for="Address2" class="control-label"></label>
                            <span asp-validation-for="Address2" class="text-danger"></span>



                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Country" class="form-control" placeholder="Country" />
                <label asp-for="Country" class="control-label"></label>
                
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="City" class="form-control" placeholder="City" />
                <label asp-for="City" class="control-label"></label>
              
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="State" class="form-control" placeholder="State" />
                <label asp-for="State" class="control-label"></label>
                         
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Pin" class="form-control" placeholder="Pin" />
                <label asp-for="Pin" class="control-label"></label>
                          
                <span asp-validation-for="Pin" class="text-danger"></span>
           </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="IDPrfName" class="form-control" placeholder="IDProofName" />
                <label asp-for="IDPrfName"  class="control-label">IDProofName</label>
                <span asp-validation-for="IDPrfName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="IDPrfNumber" class="form-control" placeholder="IDProofNumber" />
                <label asp-for="IDPrfNumber" class="control-label">IDProofNumber</label>
                         
                <span asp-validation-for="IDPrfNumber" class="text-danger"></span>
            </div>
                        </div>

                    </div>

                </div>

            
            <div class="col-md-12 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="CnctPrsnName" class="form-control" placeholder="CnctPrsnName" />
                <label asp-for="CnctPrsnName" class="control-label">ContactPersonName</label>
                        
                <span asp-validation-for="CnctPrsnName" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="Rlnpatient" class="form-control" placeholder="Rlnpatient" />
                <label asp-for="Rlnpatient" class="control-label">Patient Relation</label>
                          
                <span asp-validation-for="Rlnpatient" class="text-danger"></span>
            </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="EmgcyCntNum" class="form-control" placeholder="EmgcyCntNum" />
                <label asp-for="EmgcyCntNum" class="control-label">Emergency Contact Number</label>
                          
                <span asp-validation-for="EmgcyCntNum" class="text-danger"></span>
            </div>
                        
                        <div class="form-floating form-floating-outline mb-4">
                            <input asp-for="DateTime" class="form-control" type="date" placeholder="DateTime" />
                <label asp-for="DateTime" class="control-label"></label>
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
                        <div class="row gy-4">
                            <div class="form-floating form-floating-outline mb-4">
                            </div>
                        </div>
                        <div class="form-floating form-floating-outline mb-4">
                            <input type="submit" value="Create" class="btn btn-outline-dark waves-effect" />
            </div>
                    
                </div>
            </div>
            </div>
        </div>
        @* <div class="row gy-4">
            <div class="form-floating form-floating-outline mb-4">
            </div>
            <div class="form-group">
                <label asp-for="lastUpdatedUser" class="control-label"></label>
                <input asp-for="lastUpdatedUser" class="form-control" />
                <span asp-validation-for="lastUpdatedUser" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> *@
            @if(ViewBag.Message!=null)
            {
                <div class="alert alert-success">
                @ViewBag.Message
                </div>
            }
        </form>
   
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@